node_modules
.next
.next-local
.next-check
.next-build*
.next-fresh
.next-marketplace
out
tsconfig.tsbuildinfo
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store

.vercel
